.custom-select {
	&__control {
		min-width: 200px !important;
		border: none !important;
		border-radius: 5px !important;
		outline-color: var(--primary) !important;
		background: var(--input-background) !important;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05) !important;
		font-family: var(--font-family) !important;
		font-size: 16px !important;
		line-height: 22px !important;
	}

	&__single-value {
		color: var(--text-color) !important;
	}

	&__indicator-separator {
		display: none !important;
	}

	&__menu {
		background: var(--input-background) !important;
	}

	&__option {
		cursor: pointer;

		&--is-focused {
			background-color: var(--gray) !important;
		}

		&--is-selected {
			background-color: var(--primary) !important;
		}
	}
}
